<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Livraria Dos Desenvolvedores</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/estilo-admin.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
</head>
<body>
    <main>
        @RenderBody()
    </main>
    @RenderSection("Script", false)
</body>
</html>
